@charset "UTF-8";
/* Scss Document
*****************************************************************/
/* reset
**********************************************************************/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Noto+Serif+JP:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* mixin
*********************************************************************/
/* カラー */
/* media query */
/* SP縦から */
/* SP横から */
/* タブレット縦から */
/* フルワイド */
/* 1280 */
/* 全ページ共通 スタイル
*****************************************************************/
/*
font-family: 'Shippori Mincho', serif;
*/
/*
たて
-ms-writing-mode: tb-rl;
writing-mode: vertical-rl;
よこ
-ms-writing-mode: lr-tb;
writing-mode: horizontal-tb;
*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #271510;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  background-image: url(../images/bg01.jpg);
}

a {
  text-decoration: none;
  outline: none;
  transition: all 0.5s ease-out;
  color: #271510;
}
a:hover {
  color: #d1803a;
}
a:hover img {
  opacity: 0.7;
}

#wrapper {
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@media all and (max-width: 896px) {
  .pconly {
    display: none;
  }
}

.sponly {
  display: none;
}
@media all and (max-width: 896px) {
  .sponly {
    display: block;
  }
}

.portraitonly {
  display: none;
}
@media all and (max-width: 480px) {
  .portraitonly {
    display: block;
  }
}

@media all and (max-width: 896px) {
  .spnone {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .portraitnone {
    display: none;
  }
}

.portraitonly {
  display: none;
}
@media all and (max-width: 480px) {
  .portraitonly {
    display: block;
  }
}

.newline {
  display: inline-block;
}

.small {
  font-size: 0.8em;
}

.opacity {
  opacity: 0;
  transition: all 1.5s ease-out;
}

.opacity_up {
  opacity: 0;
  transition: all 1.5s ease-out;
  transform: translateY(40px);
}

/* pagetop
*****************************************************************/
#pagetop_arrow {
  position: fixed;
  right: 70px;
  bottom: -100px;
  z-index: 1500;
  transition: all 300ms 0s ease;
  opacity: 0;
}
#pagetop_arrow a {
  overflow: hidden;
  outline: none;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
}
#pagetop_arrow a img {
  width: 60px;
  height: auto;
}
@media all and (max-width: 1025px) {
  #pagetop_arrow {
    right: 10px;
  }
}
@media all and (max-width: 896px) {
  #pagetop_arrow a img {
    width: 30px;
  }
}

.fade_in #pagetop_arrow {
  opacity: 1;
  transition: all 300ms 0s ease;
  bottom: 100px;
}

/* drawer
*****************************************************************/
.area_drawer {
  z-index: 99999;
  position: relative;
  /* checkbox */
  /* menu button - label tag */
  /*.menu-btn:hover .bar {
      background: #999;
  }

  .menu-btn:hover .menu-btn__text {
      color: #999;
  }*/
  /* checked */
}
.area_drawer .drawer-menu {
  box-sizing: border-box;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 0;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: perspective(500px) rotateY(90deg);
  transform: perspective(500px) rotateY(90deg);
  opacity: 0;
  text-align: center;
}
.area_drawer .drawer-menu ul {
  display: inline-block;
}
.area_drawer .drawer-menu ul li {
  text-align: left;
}
.area_drawer .drawer-menu ul li a {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 1.8rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  color: #271510;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.area_drawer .drawer-menu .box_sns {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.area_drawer .drawer-menu .box_sns > div {
  padding: 10px;
}
.area_drawer .drawer-menu li {
  text-align: center;
}
.area_drawer .drawer-menu li a {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 2rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  color: #271510;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.area_drawer .drawer-menu li a:hover {
  color: #d1803a;
}
.area_drawer .check {
  display: none;
}
.area_drawer .menu-btn {
  position: fixed;
  top: 35px;
  right: 40px;
  width: 70px;
  height: 43px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 10;
}
@media all and (max-width: 896px) {
  .area_drawer .menu-btn {
    display: block;
    background-color: #271510;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 43px;
    font-size: 10px;
    text-align: center;
  }
}
.area_drawer .bar {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 70px;
  height: 5px;
  background: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
@media all and (max-width: 896px) {
  .area_drawer .bar {
    background: #FFF;
    top: 12px;
    left: 9px;
    width: 32px;
    height: 2px;
  }
}
.area_drawer .bar.middle {
  top: 15px;
  opacity: 1;
}
@media all and (max-width: 896px) {
  .area_drawer .bar.middle {
    top: 21px;
  }
}
.area_drawer .bar.bottom {
  top: 30px;
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
}
.area_drawer .menu-btn__text {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
  visibility: visible;
  opacity: 1;
}
.area_drawer .close-menu {
  position: fixed;
  top: 0;
  right: 300px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  cursor: url(https://theorthodoxworks.com/demo/images/cross.svg), auto;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  visibility: hidden;
  opacity: 0;
}
.area_drawer .check:checked ~ .drawer-menu {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
  z-index: 2;
}
.area_drawer .check:checked ~ .menu-btn .menu-btn__text {
  visibility: hidden;
  opacity: 0;
}
.area_drawer .check:checked ~ .menu-btn .bar.top {
  width: 63px;
  left: 13px;
  top: 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media all and (max-width: 896px) {
  .area_drawer .check:checked ~ .menu-btn .bar.top {
    width: 37px;
    left: 13px;
    top: 8px;
  }
}
.area_drawer .check:checked ~ .menu-btn .bar.middle {
  opacity: 0;
}
.area_drawer .check:checked ~ .menu-btn .bar.bottom {
  width: 63px;
  top: 43px;
  left: 13px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media all and (max-width: 896px) {
  .area_drawer .check:checked ~ .menu-btn .bar.bottom {
    width: 37px;
    top: 34px;
    left: 13px;
  }
}
.area_drawer .check:checked ~ .close-menu {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  background: rgba(255, 255, 255, 0.9);
  visibility: visible;
  opacity: 1;
  z-index: 3;
}

/* preloader
*****************************************************************/
.js-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  background: #fff;
  transition: opacity 0.8s, visibility 0.8s;
  z-index: 100000;
}
.is-loaded .js-loader {
  visibility: hidden;
  opacity: 0;
}
.js-loader .js-loader-progress {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  margin: auto;
  width: 50%;
  max-width: 400px;
  height: 1px;
}
.is-loaded .js-loader .js-loader-progress {
  visibility: hidden;
  opacity: 0;
}
.js-loader .js-loader-progress-bar {
  background: #000;
  height: 100%;
  width: 0;
  transition: width 0.4s;
}
.js-loader .js-loader-progress-number {
  text-align: center;
  font-size: 10px;
  width: 100%;
  margin-top: 10px;
}
.js-loader .logo_loader {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 37%;
}
.js-loader .logo_loader img {
  width: 160px;
  height: auto;
}

/* header
*****************************************************************/
.area_header {
  position: relative;
}
.area_header .block_header {
  width: 100%;
  height: 47vh;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}
.area_header .block_header .box_ttl {
  position: absolute;
  top: 6vh;
  left: 6vw;
  display: flex;
  align-items: center;
}
@media all and (max-width: 480px) {
  .area_header .block_header .box_ttl {
    top: 60px;
    left: 40px;
  }
}
.area_header .block_header .box_ttl .logo {
  font-size: clamp(3rem, 2.233rem + 2.56vw, 5.3rem);
  line-height: 1em;
  writing-mode: vertical-rl;
  letter-spacing: 0.4em;
}
@media all and (max-width: 896px) {
  .area_header .block_header .box_ttl .logo {
    font-size: 3.4rem;
    letter-spacing: 0.2em;
  }
}
@media all and (max-width: 480px) {
  .area_header .block_header .box_ttl .logo {
    font-size: 3.8rem;
    letter-spacing: 0.4em;
  }
}
.area_header .block_header .box_ttl .en {
  font-size: 1.3rem;
  line-height: 1.1em;
  letter-spacing: 0.2em;
  display: none;
  padding: 0 0 0 20px;
}
@media all and (max-width: 896px) {
  .area_header .block_header .box_ttl .en {
    display: block;
    font-size: 1.1rem;
  }
}
.area_header .block_header .box_info {
  position: absolute;
  top: 34px;
  right: 130px;
}
@media all and (max-width: 896px) {
  .area_header .block_header .box_info {
    top: 10px;
    right: 70px;
  }
}
.area_header .block_header .box_info .tel {
  font-size: 3.3rem;
  line-height: 1.2em;
}
@media all and (max-width: 896px) {
  .area_header .block_header .box_info .tel {
    font-size: 2rem;
  }
}
.area_header .block_header .box_info .time {
  padding: 4px 0 0;
  font-size: 1.3rem;
  line-height: 1.4em;
}
@media all and (max-width: 896px) {
  .area_header .block_header .box_info .time {
    font-size: 1.2rem;
    padding: 2px 0 0;
  }
}
.area_header .block_header nav {
  position: absolute;
  bottom: 8vh;
  left: 12vw;
}
@media all and (max-width: 896px) {
  .area_header .block_header nav {
    display: none;
  }
}
.area_header .block_header nav .en {
  font-size: 1.3rem;
  line-height: 1.1em;
  letter-spacing: 0.2em;
}
@media all and (max-width: 896px) {
  .area_header .block_header nav .en {
    font-size: 1.1rem;
  }
}
.area_header .block_header nav ul {
  writing-mode: vertical-rl;
  padding: 6vh 0 0;
}
.area_header .block_header nav ul li {
  font-size: 1.5rem;
  line-height: 1.4em;
  padding: 0 20px;
}
.area_header .block_header .box_header {
  position: absolute;
  right: 40px;
  bottom: 20px;
}
@media all and (max-width: 896px) {
  .area_header .block_header .box_header {
    right: 20px;
    bottom: 10px;
  }
}
.area_header .block_header .box_header h1 {
  font-size: 1.4rem;
  line-height: 1.6em;
  font-weight: 400;
}
@media all and (max-width: 896px) {
  .area_header .block_header .box_header h1 {
    font-size: 1.2rem;
  }
}
.area_header .block_visual {
  position: relative;
}
.area_header .block_visual .visual {
  position: relative;
  width: 100%;
  height: 53vh;
  overflow: hidden;
}
.area_header .block_visual .visual img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.area_header .block_visual .bnr {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 20vw;
  max-width: 380px;
  min-width: 240px;
  line-height: 0em;
}
@media all and (max-width: 896px) {
  .area_header .block_visual .bnr {
    bottom: 20px;
    right: 20px;
  }
}
.area_header .block_visual .bnr img {
  width: 100%;
  height: auto;
}
.area_header .block_twitter {
  position: absolute;
  left: 2vw;
  bottom: 3.5vh;
  height: 45vh;
  width: 100%;
  max-width: 375px;
  overflow: scroll;
  border-radius: 12px;
}
@media all and (max-width: 896px) {
  .area_header .block_twitter {
    position: relative;
    left: auto;
    bottom: auto;
    margin: 0 auto 20px;
    height: 300px;
    padding: 20px 0;
  }
}
@media all and (max-width: 480px) {
  .area_header .block_twitter {
    margin: 0px 30px 20px;
    height: 300px;
    max-width: 315px;
  }
}

/* elements
*****************************************************************/
.area_about {
  padding: 16vh 0 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
}
@media all and (max-width: 480px) {
  .area_about {
    padding: 40px 0 0;
  }
}
.area_about .side_img {
  width: 60%;
  transition: all 1.5s ease-out;
}
@media all and (max-width: 896px) {
  .area_about .side_img {
    width: 100%;
    padding: 30px 0 0;
  }
}
.area_about .side_img .item img {
  width: 100%;
  height: auto;
}
.area_about .side_txt {
  width: 40%;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center;
  transition: all 1.5s ease-out;
}
@media all and (max-width: 896px) {
  .area_about .side_txt {
    width: 100%;
  }
}
.area_about .side_txt h2 {
  writing-mode: vertical-rl;
  font-size: 2vw;
  line-height: 1.1em;
  font-weight: 400;
  display: inline-block;
  margin: auto;
  letter-spacing: 0.1em;
}
@media all and (max-width: 1025px) {
  .area_about .side_txt h2 {
    font-size: 2.4rem;
  }
}
.area_about .side_txt p {
  font-size: 1.4rem;
  line-height: 2.2em;
  padding: 6vh 0 0;
}

.swiper-wrapper {
  transition-timing-function: ease-out;
}

.box_label {
  background-color: #FCF6E7;
  padding: 30px 30px 25px;
  box-sizing: border-box;
}
@media all and (max-width: 896px) {
  .box_label {
    padding: 12px 20px 20px;
  }
}
.box_label .name_menu {
  border-bottom: #666 dotted 1px;
  padding: 3px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.box_label .name_menu h3 {
  font-size: 2.2rem;
  line-height: 1.1em;
  font-weight: 400;
}
@media all and (max-width: 1400px) {
  .box_label .name_menu h3 {
    font-size: 2rem;
  }
}
.box_label .name_menu .price {
  font-size: 1.8rem;
  line-height: 1.1em;
}
@media all and (max-width: 1400px) {
  .box_label .name_menu .price {
    font-size: 1.6rem;
  }
}
.box_label p {
  padding: 10px 0 0;
  font-size: 1.3rem;
  line-height: 1.8em;
}

.area_menu {
  padding: 16vh 0 0;
  background-image: url(../images/bg_menu.png);
  background-position: right 90%;
  background-repeat: no-repeat;
  background-size: 60% auto;
}
@media all and (max-width: 896px) {
  .area_menu {
    background-size: 70% auto;
    background-position: right bottom;
  }
}
@media all and (max-width: 480px) {
  .area_menu {
    padding: 40px 0 260px;
    background-size: 120% auto;
  }
}
.area_menu .block_menu {
  display: flex;
  flex-wrap: wrap;
}
.area_menu .block_menu .side_img {
  width: 60%;
  position: relative;
  transition: all 1.5s ease-out;
}
@media all and (max-width: 896px) {
  .area_menu .block_menu .side_img {
    width: 100%;
    padding: 30px 20px 0;
  }
}
.area_menu .block_menu .side_img .box_img {
  position: relative;
  z-index: 40;
}
.area_menu .block_menu .side_img .box_img img {
  width: 100%;
  height: auto;
}
.area_menu .block_menu .side_img .box_label {
  position: absolute;
  left: -19vw;
  bottom: -7vh;
  z-index: 30;
  width: 24.5vw;
  padding-right: 7vw;
}
@media all and (max-width: 896px) {
  .area_menu .block_menu .side_img .box_label {
    position: relative;
    left: auto;
    bottom: auto;
    width: 100%;
    padding-right: 20px;
  }
}
.area_menu .block_menu .side_txt {
  width: 40%;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center;
  transition: all 1.5s ease-out;
}
@media all and (max-width: 896px) {
  .area_menu .block_menu .side_txt {
    width: 100%;
  }
}
.area_menu .block_menu .side_txt h2 {
  writing-mode: vertical-rl;
  font-size: 2vw;
  line-height: 1.1em;
  font-weight: 400;
  display: inline-block;
  margin: auto;
  letter-spacing: 0.1em;
}
@media all and (max-width: 1025px) {
  .area_menu .block_menu .side_txt h2 {
    font-size: 2.4rem;
  }
}
.area_menu .block_menu .side_txt p {
  font-size: 1.4rem;
  line-height: 2.2em;
  padding: 6vh 0 0;
}
.area_menu .block_list {
  padding: 9vh 0 0;
}
@media all and (max-width: 896px) {
  .area_menu .block_list {
    padding: 8px 0 0;
  }
}
.area_menu .block_list ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3vw;
  margin: 0 -20px;
}
@media all and (max-width: 896px) {
  .area_menu .block_list ul {
    padding: 0 20px;
    margin: 0 -8px;
  }
}
.area_menu .block_list ul li {
  box-sizing: border-box;
  width: 26vw;
  transition: all 1.5s ease-out;
}
@media all and (max-width: 896px) {
  .area_menu .block_list ul li {
    width: 50%;
  }
}
@media all and (max-width: 480px) {
  .area_menu .block_list ul li {
    width: 100%;
  }
}
.area_menu .block_list ul li .inner {
  position: relative;
  padding: 20px;
}
@media all and (max-width: 896px) {
  .area_menu .block_list ul li .inner {
    padding: 8px;
  }
}
.area_menu .block_list ul li .inner .box_thumb {
  line-height: 0em;
  position: relative;
  left: 0px;
  z-index: 20;
}
.area_menu .block_list ul li .inner .box_thumb img {
  width: 100%;
  height: auto;
}
.area_menu .block_list ul li .inner .box_label {
  z-index: 10;
  position: relative;
  margin: -20px -20px 0 30px;
}
@media all and (max-width: 896px) {
  .area_menu .block_list ul li .inner .box_label {
    margin: 0px 0px 0 0px;
  }
}

.area_facilities {
  padding: 16vh 3vw 0;
}
@media all and (max-width: 480px) {
  .area_facilities {
    padding: 40px 20px 0;
  }
}
.area_facilities .box_name {
  font-size: 1.3rem;
  line-height: 1.6em;
  padding: 5px 0 0;
}
.area_facilities .block_facilities {
  display: flex;
  flex-wrap: wrap;
}
.area_facilities .block_facilities .side_img {
  width: 50%;
  box-sizing: border-box;
  transition: all 1.5s ease-out;
}
@media all and (max-width: 896px) {
  .area_facilities .block_facilities .side_img {
    width: 100%;
    padding: 10px 0 0;
  }
}
.area_facilities .block_facilities .side_img .box_img {
  line-height: 0em;
}
.area_facilities .block_facilities .side_img .box_img img {
  width: 100%;
  height: auto;
}
.area_facilities .block_facilities .side_txt {
  width: 50%;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center;
  transition: all 1.5s ease-out;
}
@media all and (max-width: 896px) {
  .area_facilities .block_facilities .side_txt {
    width: 100%;
  }
}
.area_facilities .block_facilities .side_txt .inner {
  width: 100%;
}
.area_facilities .block_facilities .side_txt h2 {
  writing-mode: vertical-rl;
  font-size: 2vw;
  line-height: 1.1em;
  font-weight: 400;
  display: inline-block;
  margin: auto;
  letter-spacing: 0.1em;
}
@media all and (max-width: 1025px) {
  .area_facilities .block_facilities .side_txt h2 {
    font-size: 2.4rem;
  }
}
.area_facilities .block_facilities .side_txt .box_list {
  padding: 6vh 0 0;
  display: inline-block;
}
.area_facilities .block_facilities .side_txt .box_list dl {
  font-size: 1.4rem;
  line-height: 1.6em;
  display: flex;
  justify-content: space-between;
}
.area_facilities .block_facilities .side_txt .box_list dl.gokei {
  padding: 10px 0 0;
}
.area_facilities .block_facilities .side_txt .box_list dl dt, .area_facilities .block_facilities .side_txt .box_list dl dd {
  padding: 7px;
}
.area_facilities .block_facilities .side_txt .box_list ul {
  text-align: left;
  padding: 7px;
  font-size: 1.3rem;
  line-height: 1.5em;
}
.area_facilities .block_facilities .side_txt .box_list ul li {
  padding: 2px 0 2px 1em;
  text-indent: -1em;
}
.area_facilities .block_thumbs ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 10px 0;
}
@media all and (max-width: 896px) {
  .area_facilities .block_thumbs ul {
    padding: 5px 0;
    margin: 0 -5px;
    justify-content: start;
  }
}
.area_facilities .block_thumbs ul li {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  transition: all 1.5s ease-out;
}
@media all and (max-width: 896px) {
  .area_facilities .block_thumbs ul li {
    width: 33.3333%;
    padding: 5px;
  }
}
@media all and (max-width: 480px) {
  .area_facilities .block_thumbs ul li {
    width: 50%;
  }
}
.area_facilities .block_thumbs ul li .box_img {
  line-height: 0em;
}
.area_facilities .block_thumbs ul li .box_img img {
  width: 100%;
  height: auto;
}
.area_facilities .block_shop {
  display: flex;
  flex-wrap: wrap;
  padding: 4vh 0 0;
}
@media all and (max-width: 896px) {
  .area_facilities .block_shop {
    padding: 20px 0 0;
  }
}
.area_facilities .block_shop .side_img {
  width: 50%;
  box-sizing: border-box;
  transition: all 1.5s ease-out;
}
@media all and (max-width: 896px) {
  .area_facilities .block_shop .side_img {
    width: 100%;
  }
}
.area_facilities .block_shop .side_img .box_img {
  line-height: 0em;
}
.area_facilities .block_shop .side_img .box_img img {
  width: 100%;
  height: auto;
}
.area_facilities .block_shop .side_txt {
  width: 50%;
  box-sizing: border-box;
  padding: 0 3vw;
  transition: all 1.5s ease-out;
}
@media all and (max-width: 896px) {
  .area_facilities .block_shop .side_txt {
    width: 100%;
    padding: 14px 0px 0;
  }
}
.area_facilities .block_shop .side_txt h3 {
  font-size: 2vw;
  line-height: 1.1em;
  font-weight: 400;
  display: inline-block;
  margin: auto;
  letter-spacing: 0.1em;
}
@media all and (max-width: 1025px) {
  .area_facilities .block_shop .side_txt h3 {
    font-size: 2.4rem;
  }
}
.area_facilities .block_shop .side_txt p {
  font-size: 1.4rem;
  line-height: 2.2em;
  padding: 3vh 0 0;
  max-width: 550px;
}
@media all and (max-width: 896px) {
  .area_facilities .block_shop .side_txt p {
    padding: 5px 0 0;
    line-height: 1.9em;
  }
}
.area_facilities .block_shop .side_txt .bnr_shop {
  max-width: 380px;
  padding: 20px 0 0;
}
@media all and (max-width: 896px) {
  .area_facilities .block_shop .side_txt .bnr_shop {
    padding: 10px 0 0;
  }
}
.area_facilities .block_shop .side_txt .bnr_shop img {
  width: 100%;
  height: auto;
}

.area_access {
  padding: 16vh 3vw 0;
  text-align: center;
}
@media all and (max-width: 480px) {
  .area_access {
    padding: 40px 20px 0;
  }
}
.area_access h2 {
  writing-mode: vertical-rl;
  font-size: 2vw;
  line-height: 1.1em;
  font-weight: 400;
  margin: auto;
  letter-spacing: 0.1em;
}
@media all and (max-width: 1025px) {
  .area_access h2 {
    font-size: 2.4rem;
  }
}
.area_access .block_gmap {
  padding: 40px 0 0;
}
@media all and (max-width: 896px) {
  .area_access .block_gmap {
    padding: 20px 0 0;
  }
}
.area_access .block_gmap iframe {
  width: 100%;
  height: 580px;
}
@media all and (max-width: 896px) {
  .area_access .block_gmap iframe {
    height: auto;
    aspect-ratio: 3/2;
  }
}
@media all and (max-width: 480px) {
  .area_access .block_gmap iframe {
    height: auto;
    aspect-ratio: 1/1;
  }
}
.area_access .block_detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  padding: 10px 0;
  margin: 0 -10px;
}
.area_access .block_detail .side_img {
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
}
@media all and (max-width: 480px) {
  .area_access .block_detail .side_img {
    width: 100%;
  }
}
.area_access .block_detail .side_img img {
  width: 100%;
  height: auto;
}
.area_access .block_detail .side_txt {
  width: 75%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.4rem;
  line-height: 1.8em;
  text-align: left;
}
@media all and (max-width: 480px) {
  .area_access .block_detail .side_txt {
    width: 100%;
  }
}
.area_access .block_detail .side_txt dl {
  display: flex;
}
.area_access .block_detail .side_txt dl dt {
  width: 7em;
}
.area_access .block_detail .side_txt dl dd {
  width: calc(100% - 7em);
  padding: 0 0 0 1em;
  text-indent: -1em;
}
.area_access .block_around {
  text-align: left;
  padding: 40px 0 0;
}
@media all and (max-width: 896px) {
  .area_access .block_around {
    padding: 10px 0 0;
  }
}
.area_access .block_around h3 {
  font-size: 2vw;
  line-height: 1.1em;
  font-weight: 400;
  display: inline-block;
  margin: auto;
  letter-spacing: 0.1em;
}
@media all and (max-width: 1025px) {
  .area_access .block_around h3 {
    font-size: 2.4rem;
  }
}
.area_access .block_around ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
@media all and (max-width: 896px) {
  .area_access .block_around ul {
    margin: 0 -5px;
  }
}
.area_access .block_around ul li {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
}
@media all and (max-width: 896px) {
  .area_access .block_around ul li {
    width: 50%;
    padding: 10px 5px;
  }
}
.area_access .block_around ul li .box_thumb {
  line-height: 0em;
}
.area_access .block_around ul li .box_thumb img {
  width: 100%;
  height: auto;
}
.area_access .block_around ul li .box_txt {
  padding: 12px 0 0;
}
@media all and (max-width: 896px) {
  .area_access .block_around ul li .box_txt {
    padding: 5px 0 0;
  }
}
.area_access .block_around ul li .box_txt h4 {
  font-size: 1.8rem;
  line-height: 1.2em;
  font-weight: 400;
}
@media all and (max-width: 896px) {
  .area_access .block_around ul li .box_txt h4 {
    font-size: 1.6rem;
  }
}
.area_access .block_around ul li .box_txt p {
  padding: 8px 0 0;
  font-size: 1.4rem;
  line-height: 1.8em;
}
@media all and (max-width: 896px) {
  .area_access .block_around ul li .box_txt p {
    font-size: 1.3rem;
    line-height: 1.6em;
    padding: 4px 0 0;
  }
}

.area_link {
  padding: 16vh 0 0;
  text-align: center;
}
@media all and (max-width: 480px) {
  .area_link {
    padding: 40px 0 0;
  }
}
.area_link .block_link {
  background-color: #FCF6E7;
  padding: 40px 3vw;
}
@media all and (max-width: 480px) {
  .area_link .block_link {
    padding: 20px 20px;
  }
}
.area_link .block_link h2 {
  font-size: 2vw;
  line-height: 1.1em;
  font-weight: 400;
  margin: auto;
  letter-spacing: 0.1em;
}
@media all and (max-width: 1025px) {
  .area_link .block_link h2 {
    font-size: 2.4rem;
  }
}
.area_link .block_link ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px 0 0;
}
.area_link .block_link ul li {
  max-width: 320px;
  padding: 15px;
}
@media all and (max-width: 896px) {
  .area_link .block_link ul li {
    max-width: auto;
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
  }
}
.area_link .block_link ul li img {
  width: 100%;
  height: auto;
}

/* footer
*****************************************************************/
.area_footer {
  position: relative;
}
.area_footer .footer_img {
  position: relative;
  line-height: 0em;
  width: 100%;
}
@media all and (max-width: 896px) {
  .area_footer .footer_img {
    aspect-ratio: 3/2;
    overflow: hidden;
  }
}
.area_footer .footer_img img {
  width: 100%;
  height: auto;
}
@media all and (max-width: 896px) {
  .area_footer .footer_img img {
    object-fit: cover;
    height: 100%;
  }
}
.area_footer .block_footer {
  position: absolute;
  top: 6vh;
  width: 100%;
  text-align: center;
}
@media all and (max-width: 896px) {
  .area_footer .block_footer {
    top: 30px;
  }
}
.area_footer .block_footer h2 {
  font-size: 3vw;
  line-height: 1em;
  font-weight: 400;
  letter-spacing: 0.3em;
  text-align: center;
}
@media all and (max-width: 896px) {
  .area_footer .block_footer h2 {
    font-size: 2.4rem;
  }
}
.area_footer .block_footer .en {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2em;
  padding: 12px 0 0;
  letter-spacing: 0.1em;
}
@media all and (max-width: 896px) {
  .area_footer .block_footer .en {
    padding: 8px 0 0;
    font-size: 1rem;
  }
}
.area_footer .block_footer .box_address {
  font-size: 1.3rem;
  line-height: 1.6em;
  padding: 10px 0 0;
  display: inline-block;
  text-align: left;
}
@media all and (max-width: 480px) {
  .area_footer .block_footer .box_address {
    text-shadow: 0 0 2px #FFF, 0 0 2px #FFF, 0 0 4px #FFF, 0 0 6px #FFF;
  }
}
.area_footer .block_copyright {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
}